packages:
  yum:
    cairo: []
    cairo-devel: []
    giflib-devel: []
    libjpeg-turbo-devel: []
    pango: []
    pango-devel: []
  rpm:
    epel: http://download-ib01.fedoraproject.org/pub/epel/7/x86_64/epel-release*rpm

commands:
  install_jq:
    command: "yum --enablerepo=epel -y install cairo"

