packages:
  yum:
    git: []
    cairo: []
    cairo-devel: []
    libjpeg-turbo-devel: []
    giflib-devel: []
option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "yarn"
    NodeCommand: "yarn build"
    NodeCommand: "yarn start:dev"
    ProxyServer: nginx
    GzipCompression: true
  aws:elasticbeanstalk:container:nodejs:staticfiles:
    /public: statichtml
    /modules: staticmodules
    /dist: staticimages