body {
  color: white;
  font-family: system-ui;
  margin: 0;
}


#nprogress .bar {
  height: 50px;
  background-color: white;
  z-index: 1;
}

#nprogress .spinner-icon {
  border-left-color: white;
  border-top-color: white;
}


#nprogress .peg {
  box-shadow: none;
}
